.locations-comp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 50%;
    overflow-y: auto;
  }

  li {
    transition: all 0.2s linear;
    font-size: 1.2rem;
    display: inline-block;
    list-style: none;
    color: black;
    margin: 0 7px;
    cursor: pointer;
  }

  .active {
    font-size: 2.4rem;
  }

  h1 {
    display: inline-block;
    position: absolute;
    top: 18%;
  }
}
